@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	text-align: center;
}

h1 {
	color: #071952;
}

button {
	font-size: 20px;
	background-color: #071952;
	color: white;
	border: none;
	border-radius: 10px;
	padding: 10px;
	font-weight: bold;
}

#result {
	font-size: 30px;
	font-weight: bold;
}
